@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("sources/fonts/raleway-v26-latin-regular.woff2") format("woff2"), url("sources/fonts/raleway-v26-latin-regular.woff") format("woff"), url("sources/fonts/raleway-v26-latin-regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("sources/fonts/raleway-v26-latin-700.woff2") format("woff2"), url("sources/fonts/raleway-v26-latin-700.woff") format("woff"), url("sources/fonts/raleway-v26-latin-700.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: Raleway, sans-serif;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
}

.ukraine_support_mark {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 145px;
  height: 75px;
  background-image: url(sources/img/standwithukraine.jpeg);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  z-index: 100;
  -webkit-animation-name: ukraine-mark;
          animation-name: ukraine-mark;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes ukraine-mark {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes ukraine-mark {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* For tablets */
@media (min-width: 768px) {
  .ukraine_support_mark {
    width: 220px;
    height: 120px;
  }
}

/* For desktops */
@media (min-width: 1200px) {
  .ukraine_support_mark {
    top: 50px;
    left: 0;
    width: 220px;
    height: 80px;
  }
}

/* For phones */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.page-header__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #2a3247 0%, #4b3c75 100%);
  background-size: 400% 400%;
  overflow: hidden;
  -webkit-animation-name: animateGradient;
          animation-name: animateGradient;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.page-header__background::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  width: 325px;
  height: 325px;
  background-image: url(sources/svg/hexagon.svg);
  background-size: contain;
}

.page-header__background::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(22%, -3%);
          transform: translate(22%, -3%);
  width: 325px;
  height: 325px;
  background-image: url(sources/svg/hexagon.svg);
  background-size: contain;
}

.page-header__wrapper {
  z-index: 100;
  text-align: center;
}

.page-header__welcome {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.page-header__welcome span {
  color: #ff445e;
}

/* For tablets */
@media (min-width: 768px) {
  .page-header__background::before {
    width: 500px;
    height: 500px;
    -webkit-transform: translate(30%, -84%);
            transform: translate(30%, -84%);
  }
  .page-header__background::after {
    width: 500px;
    height: 500px;
    -webkit-transform: translate(30%, 0%);
            transform: translate(30%, 0%);
  }
  .page-header__welcome {
    margin-bottom: 36px;
    font-size: 36px;
    line-height: 42px;
  }
}

/* For desktops */
@media (min-width: 1200px) {
  .page-header__background::before {
    width: 700px;
    height: 700px;
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
  }
  .page-header__background::after {
    width: 700px;
    height: 700px;
    -webkit-transform: translate(22%, -87%);
            transform: translate(22%, -87%);
  }
  .page-header__welcome {
    margin-bottom: 42px;
    font-size: 42px;
    line-height: 48px;
  }
}

.button {
  padding: 12px 15px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border: 2px solid #ffffff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.button:hover,
.button:focus {
  background-color: #fda022;
  border: 2px solid #fda022;
  outline: none;
  cursor: pointer;
}

.button:active {
  -webkit-box-shadow: rgba(42, 50, 71, 0.25) 0px 30px 60px -12px inset, rgba(42, 50, 71, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(42, 50, 71, 0.25) 0px 30px 60px -12px inset, rgba(42, 50, 71, 0.3) 0px 18px 36px -18px inset;
}

.button--header {
  position: relative;
  padding-right: 40px;
}

.button--header::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 11px;
  width: 18px;
  height: 18px;
  background-image: url(sources/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.button--header:hover::after,
.button--header:focus::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* For tablets and desktops*/
@media (min-width: 768px) {
  .button {
    padding: 12px 20px;
    font-size: 24px;
    line-height: 24px;
  }
  .button--header {
    padding-right: 50px;
  }
  .button--header::after {
    top: 15px;
    right: 15px;
  }
}

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2a3247;
  border-bottom: 3px solid #fda022;
  z-index: 100;
}

.main-nav__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 267px;
  margin-top: 44px;
  background-color: #141d31;
  border-top: 3px solid #fda022;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-nav__item {
  padding: 12px 12px;
  text-align: center;
}

.main-nav__item a {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-nav__item:hover a {
  color: #ff445e;
}

.main-nav__item--active a {
  color: #ff445e;
}

/* MAIN-NAV--CLOSE */
.main-nav--close {
  height: 47px;
}

.main-nav--close .main-nav__list {
  height: 0;
}

/* MAIN-NAV--OPEN */
.main-nav--open {
  border-bottom: none;
}

/* TOGGLE */
.main-nav__toggle {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.main-nav--open .main-nav__toggle:before {
  content: "";
  position: absolute;
  top: 13px;
  right: 0px;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.main-nav--open .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 0px;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.main-nav--close .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 0px;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px #ffffff, 0px 20px #ffffff;
          box-shadow: 0px 10px #ffffff, 0px 20px #ffffff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

/* For tablets */
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
  .main-nav {
    height: auto;
  }
  .main-nav--close .main-nav__list {
    height: auto;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    margin-top: 0px;
    border-top: none;
  }
  .main-nav__item {
    padding: 15px 20px;
  }
}

/* For desctops */
@media (min-width: 1200px) {
  .main-nav {
    position: absolute;
    top: 100vh;
    background-color: #141d31;
  }
  .main-nav--down {
    -webkit-animation-name: navDown;
            animation-name: navDown;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  .main-nav--fixed {
    position: fixed;
    top: 0;
  }
  .main-nav__list {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

.page-main {
  color: #474747;
}

.about {
  padding: 40px 5%;
  text-align: center;
}

.about__info {
  padding-top: 40px;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
}

.section-header {
  margin: 0;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.section-header__underline {
  height: 4px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background: #474747;
}

.section-header--footer {
  color: #ffffff;
}

.section-header__underline--footer {
  background: #ffffff;
}

.skills {
  background-color: #f5f5f5;
  padding: 40px 5%;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__item {
  width: 140px;
  text-align: center;
}

.skills__item img {
  width: 120px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}

.skills__item p {
  padding: 10px 0 30px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.courses {
  padding: 40px 5%;
}

.courses__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
}

.courses__item {
  position: relative;
}

.courses__item::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -25px;
  width: 12px;
  height: 12px;
  background-color: #ff445e;
}

.courses__item h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.courses__item a {
  display: inline-block;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  margin-bottom: 35px;
  font-weight: 400;
  color: #474747;
  border-bottom: 1px solid #ff445e;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.courses__item a:hover {
  color: #ff445e;
}

.courses__item a:active {
  text-shadow: 0 0 2px #ff445e;
}

.courses__img {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* For tablets */
@media (min-width: 768px) {
  .courses__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .courses__img {
    min-width: 400px;
    max-width: 500px;
    margin-left: auto;
    margin-right: 0;
  }
  .courses__galery {
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

/* For desctops */
@media (min-width: 1200px) {
  .courses__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.projects {
  background-color: #f5f5f5;
  padding: 40px 5%;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*BACKGROUND GRADIENT*/
@-webkit-keyframes animateGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes animateGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/*NAV DOWN*/
@-webkit-keyframes navDown {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes navDown {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

/* LEFT APPEARANCE */
/* RIGHT APPEARANCE */
/* BOTTOM APPEARANCE */
.card {
  position: relative;
  overflow: hidden;
}

.card__wrap {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  opacity: 0;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  max-width: 400px;
}

.card__header {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #474747;
  text-align: center;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.card__desc {
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #ff445e;
  text-align: center;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.card__button {
  color: #474747;
  border-color: #ff445e;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.card:hover .card__wrap {
  opacity: 1;
}

.card:hover .card__header,
.card:hover .card__desc,
.card:hover .card__button {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__button:hover {
  background-color: #ff445e;
  border-color: #ff445e;
  color: #ffffff;
}

.page-footer {
  background-color: #2a3247;
  color: #ffffff;
  padding-top: 40px;
}

.page-footer__info {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #141d31;
  text-align: center;
  color: #ffffff;
}

.page-footer__info span {
  color: #ff445e;
}

.contact__intro {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: #ff445e;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 5%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact__form input, textarea {
  display: block;
  min-width: 100%;
  padding: 10px 15px;
  margin-bottom: 3px;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  border: none;
  background-color: #141d31;
}

.contact__form textarea {
  min-height: 150px;
}

.contact__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 10px;
}

.contact__home-button {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  background-color: #ff445e;
}

.contact__home-button::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 14px;
  width: 25px;
  height: 25px;
  background-image: url(sources/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.contact__home-button::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 14px;
  width: 25px;
  height: 25px;
  background-image: url(sources/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/* For tablets */
@media (min-width: 768px) {
  .contact__form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.social-networks {
  padding-top: 40px;
  background-color: #141d31;
}

.social-networks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-networks__item {
  position: relative;
  margin: 40px 15px 15px 15px;
  width: 50px;
  height: 50px;
  background-color: #2a3247;
}

.social-networks__item::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.social-networks__item--linkedin::before {
  background-image: url(sources/svg/linkedin.svg);
}

.social-networks__item--facebook::before {
  background-image: url(sources/svg/facebook.svg);
}

.social-networks__item--instagram::before {
  background-image: url(sources/svg/instagram.svg);
}
