@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("sources/fonts/raleway-v26-latin-regular.woff2") format("woff2"), url("sources/fonts/raleway-v26-latin-regular.woff") format("woff"), url("sources/fonts/raleway-v26-latin-regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("sources/fonts/raleway-v26-latin-700.woff2") format("woff2"), url("sources/fonts/raleway-v26-latin-700.woff") format("woff"), url("sources/fonts/raleway-v26-latin-700.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: Raleway, sans-serif;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
}

/* For phones */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.page-header__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #2a3247 0%, #4b3c75 100%);
  background-size: 400% 400%;
  overflow: hidden;
}

.page-header__background::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  width: 325px;
  height: 325px;
  background-image: url(sources/svg/hexagon.svg);
  background-size: contain;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
}

.page-header__background::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  width: 325px;
  height: 325px;
  background-image: url(sources/svg/hexagon.svg);
  background-size: contain;
  -webkit-transform: translate(22%, -3%);
          transform: translate(22%, -3%);
}

.page-header__wrapper {
  z-index: 100;
  text-align: center;
}

.page-header__welcome {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}

.page-header__welcome span {
  color: #ff445e;
}

/* For tablets */
@media (min-width: 768px) {
  .page-header__background::before {
    width: 500px;
    height: 500px;
    -webkit-transform: translate(30%, -84%);
            transform: translate(30%, -84%);
  }
  .page-header__background::after {
    width: 500px;
    height: 500px;
    -webkit-transform: translate(30%, 0%);
            transform: translate(30%, 0%);
  }
  .page-header__welcome {
    margin-bottom: 42px;
    font-size: 42px;
    line-height: 54px;
  }
}

/* For desktops */
@media (min-width: 1200px) {
  .page-header__background::before {
    width: 700px;
    height: 700px;
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
  }
  .page-header__background::after {
    width: 700px;
    height: 700px;
    -webkit-transform: translate(22%, -87%);
            transform: translate(22%, -87%);
  }
}

/* For phones */
.button {
  padding: 12px 15px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border: 2px solid #ffffff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.button:hover,
.button:focus {
  background-color: #fda022;
  border: 2px solid #fda022;
  outline: none;
}

.button--header {
  position: relative;
  padding-right: 40px;
}

.button--header::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 11px;
  width: 18px;
  height: 18px;
  background-image: url(sources/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.button--header:hover::after,
.button--header:focus::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  outline: none;
}

/* For tablets */
@media (min-width: 768px) {
  .button {
    padding: 12px 20px;
    font-size: 24px;
    line-height: 24px;
  }
  .button--header {
    padding-right: 50px;
  }
  .button--header::after {
    top: 15px;
    right: 15px;
  }
}

#particles-js {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2a3247;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2a3247;
  border-bottom: 3px solid #fda022;
  z-index: 100;
}

.main-nav__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 267px;
  margin-top: 44px;
  background-color: #141d31;
  border-top: 3px solid #fda022;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-nav__item {
  padding: 12px 12px;
  text-align: center;
}

.main-nav__item a {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-nav__item--active a {
  color: #ff445e;
}

.main-nav__item:hover a {
  color: #ff445e;
}

/* MAIN-NAV--CLOSE */
.main-nav--close {
  height: 47px;
}

.main-nav--close .main-nav__list {
  height: 0;
}

/* MAIN-NAV--OPEN */
.main-nav--open {
  border-bottom: none;
}

/* TOGGLE */
.main-nav__toggle {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.main-nav--open .main-nav__toggle:before {
  content: "";
  position: absolute;
  top: 13px;
  right: 0px;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.main-nav--open .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 0px;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.main-nav--close .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 0px;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px #ffffff, 0px 20px #ffffff;
          box-shadow: 0px 10px #ffffff, 0px 20px #ffffff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

/* For tablets */
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
  .main-nav {
    height: auto;
  }
  .main-nav--close .main-nav__list {
    height: auto;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    margin-top: 0px;
    border-top: none;
  }
  .main-nav__item {
    padding: 15px 20px;
  }
}

/* For desctops */
@media (min-width: 1200px) {
  .main-nav {
    position: absolute;
    top: 100vh;
    background-color: #141d31;
  }
  .main-nav--fixed {
    position: fixed;
    top: 0;
  }
  .main-nav__list {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

.page-main {
  color: #474747;
}

.about {
  margin: 0 3.125%;
  text-align: center;
}

.about__info {
  padding: 46px 0 60px 0;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
}

.section-header {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 10px;
  font-size: 35px;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
}

.section-header__underline {
  height: 4px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
  background-color: #474747;
}

.skills {
  background-color: #f5f5f5;
  padding-bottom: 30px;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 3.125%;
}

.skills__item {
  width: 140px;
  text-align: center;
}

.skills__item img {
  width: 120px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}

.skills__item p {
  padding: 10px 0 30px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.courses {
  margin: 0 3.125%;
}

.courses__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courses__item {
  max-width: 350px;
}

.courses__item img {
  width: 100%;
}

.courses__item h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.courses__item p {
  padding-bottom: 60px;
  font-size: 16px;
  line-height: 20px;
}

.courses__item a {
  padding-bottom: 5px;
  color: #474747;
  border-bottom: 1px solid #ff445e;
}

.projects {
  background-color: #f5f5f5;
}

/*BACKGROUND GRADIENT*/
@-webkit-keyframes animateGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes animateGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.page-header__background {
  -webkit-animation-name: animateGradient;
          animation-name: animateGradient;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

/*NAV DOWN*/
@-webkit-keyframes navDown {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes navDown {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

.main-nav--down {
  -webkit-animation-name: navDown;
          animation-name: navDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

/* LEFT APPEARANCE */
@-webkit-keyframes appearance-left {
  from {
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes appearance-left {
  from {
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.left-appearance {
  -webkit-animation-name: appearance-left;
          animation-name: appearance-left;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* RIGHT APPEARANCE */
@-webkit-keyframes appearance-right {
  from {
    -webkit-transform: translateX(50vw);
            transform: translateX(50vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes appearance-right {
  from {
    -webkit-transform: translateX(50vw);
            transform: translateX(50vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.right-appearance {
  -webkit-animation-name: appearance-right;
          animation-name: appearance-right;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* BOTTOM APPEARANCE */
@-webkit-keyframes appearance-bottom {
  from {
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes appearance-bottom {
  from {
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.bottom-appearance {
  -webkit-animation-name: appearance-bottom;
          animation-name: appearance-bottom;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
