.contact {
  overflow: hidden;
}
.contact__intro {
  display: block;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: $second-color;

  transform: translate(-50vh, 0);
  opacity: 0;
}

.contact__intro.--animate {
  transition: 0.8s ease-in-out;
  transform: translate(0, 0);
  opacity: 1;
}

.contact__form {
  display: flex;
  flex-direction: column;

  margin: 0 5%;
  margin-top: 40px;
  margin-bottom: 40px;

  transform: scale(0);
}

.contact__form.--animate {
  animation-name: animatedForm;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes animatedForm {
  0% {transform: scale(0%);}
  70% {transform: scale(110%);}
  85% {transform: scale(95%);}
  100% {transform: scale(100%);}
}

.contact__form input, 
.contact__form textarea {
  display: block;
  min-width: 100%;
  padding: 10px 15px;
  margin-bottom: 3px;

  font-size: 16px;
  line-height: 1;
  color: $white-color;

  border: none;

  background-color: $base-darker-color;
}

.contact__form input:-webkit-autofill {
  box-shadow: 0 0 0 1000px $base-darker-color inset !important;
  -webkit-text-fill-color: $white-color !important;
}

.contact__form textarea {
  min-height: 150px;
}

.contact__button {
  align-self: flex-end;
  margin-top: 10px;
}

.contact__home-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 50px;
  width: 50px;
  
  background-color: $second-color;
  transition: 0.3s;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $third-color;
    outline: none;
  }
}

.contact__home-button::before {
  content: "";

  position: absolute;
  top: 5px;
  right: 14px;

  width: 25px;
  height: 25px;

  background-image: url(sources/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  
  transform: rotate(-90deg);
}

.contact__home-button::after {
  content: "";

  position: absolute;
  top: 20px;
  right: 14px;

  width: 25px;
  height: 25px;

  background-image: url(sources/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  
  transform: rotate(-90deg);
}

/* For tablets */

@media (min-width: $tablet-width) {
  .contact__form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}