.courses {
  padding: 40px 5%;
  overflow: hidden;

}

.courses__list {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
}

.courses__item {
  position: relative;
  
  transform: translate(-120%, 0);
  opacity: 0;
  transition: 1.5s ease-in;
}

.--animate .courses__item {
  transform: translate(0, 0);
  opacity: 1;
}

.--animate {
  & .courses__item {
    @for $index from 1 through 4 {
      $delay: $index * 0.4 - 0.4;
      &:nth-child(#{$index}) {
        transition: 0.5s ease-in #{$delay + s};
      }
    }
  }
}

.courses__item::before {
  content: "";

  position: absolute;
  top: 4px;
  left:-25px;

  width: 12px;
  height: 12px;
  
  background-color: $second-color;
}

.courses__item h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.courses__item a {
  display: inline-block;

  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  margin-bottom: 35px;

  font-weight: 400;
  color: $text-color;

  border-bottom: 1px solid $second-color;

  transition: 0.25s;

  &:hover {
    color: $second-color;
  }
  &:focus {
    color: $second-color;
    outline: none;
  }
  &:active {
    text-shadow: 0 0 2px $second-color;
  }
}

.courses__link {
  display: block;
}

.courses__link:focus {
  outline: 5px solid $second-color;
}

.courses__link:active {
  outline: none;
}

.courses__img {
  display: block;

  width: 100%;
  max-width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  transform: translate(120%, 120%);
  opacity: 0;
  transition: 0.8s ease-in-out;
}

.--animate .courses__img {
  transform: translate(0, 0);
  opacity: 1;
  transition: 0.8s ease-in-out;
}

/* For tablets */

@media (min-width: $tablet-width) {
  .courses__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content:space-between;
  }

  .courses__img {
    min-width: 400px;
    max-width: 500px;
    margin-left: auto;
    margin-right: 0;
  }

}

/* For desctops */

@media (min-width: $desktop-width) {
  .courses {
    padding: 80px 0;
  }
  
  .courses__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}