.main-nav {
  position: fixed;
  top: 0;

  width: 100%;

  background-color: $base-color;
  border-bottom: 3px solid $third-color;

  z-index: 2;
}

.main-nav__list {
  position: relative;

  display: flex;
  flex-direction: column;
  
  height: 267px;
  margin-top: 44px;

  background-color: $base-darker-color;
  border-top: 3px solid $third-color;

  transition: 0.3s;
  
  overflow: hidden;
}

.main-nav__item {
  text-align: center;
}

.main-nav__item a {
  display: block;

  padding: 12px 12px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white-color;

  transition: 0.3s;
}

.main-nav__item:hover a {
  color: $second-color;
}

.main-nav__item a:focus {
  background-color: $second-color;
  color: $base-color;
  
  outline: none;

  text-shadow: 0px 0px 1px $base-color;
}

.main-nav__item--active a {
  color: $second-color;
}

// toggle

.main-nav__toggle {
  position: absolute;
  top: 8px;
  right: 10px;

  width: 30px;
  height: 30px;

  cursor: pointer;
}

// close navigation bar

.main-nav--close {
  height: 47px;
}

.main-nav--close .main-nav__list {
  height: 0;
}

.main-nav--close .main-nav__toggle {
  &:before {
    content: "";
  
    position: absolute;
    top: 3px;
    right: 0px;
  
    width: 30px;
    height: 3px;
  
    background-color: $white-color;
  
    box-shadow: 0px 10px $white-color, 0px 20px $white-color;
    transition: 0.25s;
  }
}

// open navigation bar

.main-nav--open {
  border-bottom: none;
}

.main-nav--open .main-nav__toggle {
  &:before {
    content: "";
  
    position: absolute;
    top: 13px;
    right: 0px;
  
    width: 30px;
    height: 3px;
  
    background-color: $white-color;
  
    transform: rotate(45deg);
    transition: 0.25s;
  }

  &:after {
    content: "";
    
    position: absolute;
    top: 13px;
    right: 0px;
  
    width: 30px;
    height: 3px;
  
    background-color: $white-color;
  
    transform: rotate(135deg);
    transition: 0.25s;
  }
}

/* For tablets */

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    height: auto;
  }

  .main-nav--close .main-nav__list {
    height: auto;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    
    height: auto;
    margin-top: 0px;

    border-top: none;
  }

  .main-nav__item a {
    padding: 15px 20px;
  }
}

/* For desctops */

@media (min-width: $desktop-width) { 
  .main-nav {
    position: absolute;
    top: 100vh; 
    background-color: $base-darker-color;
  }

  .main-nav--down {
    animation-name: navDown;
    animation-duration: 0.5s;
    animation-timing-function: ease;
  }

  .main-nav--fixed {
    position: fixed;
    top: 0;
  }

  .main-nav__list {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  @keyframes navDown {
    0% {transform: translateY(-100px);}
  }
}
