.page-footer {  
  background-color: $base-color;
  color: $white-color;
}

.page-footer__info {
  padding-top: 20px;
  padding-bottom: 40px;

  background-color: $base-darker-color;

  text-align: center;
  color: $white-color;
}

.page-footer__info span {
  color: $second-color;
}