.page-header {
  position: relative;
  height: 100vh;
}

.page-header__background {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  
  background: linear-gradient(135deg, $base-color 0%, $base-ligter-color 100%);
  background-size: 400% 400%;
  
  animation-name: animateGradient;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;

  overflow: hidden;

  &::before {
    content: "";

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);

    width: 325px;
    height: 325px;

    background-image: url(sources/svg/hexagon.svg);
    background-size: contain;
  }
  &::after {
    content: "";

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(22%, -3%);

    width: 325px;
    height: 325px;

    background-image: url(sources/svg/hexagon.svg);
    background-size: contain;
  }
}

@keyframes animateGradient {
  0% {background-position: 0% 0%;}
  50% {background-position: 100% 100%;}
  100% {background-position: 0% 0%;}
}

.page-header__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;

  z-index: 2;
  text-align: center;
}

.page-header__welcome {
  margin-bottom: 24px;

  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: $white-color;
}

.page-header__welcome span {
  color: $second-color;
}

/* For tablets */

@media (min-width: $tablet-width) {
  .page-header__background {
    &::before {
    transform: translate(30%, -84%);
    width: 500px;
    height: 500px;
    }
    &::after {
      transform: translate(30%, 0%);
      width: 500px;
      height: 500px;
    }
  }

  .page-header__welcome {
    margin-bottom: 36px;
    font-size: 36px;
    line-height: 42px;
  }
}

/* For desktops */

@media (min-width: $desktop-width) {
  .page-header__background {
    &::before {
      transform: translate(-50%, -45%);
      width: 700px;
      height: 700px;
    }
    &::after {
      transform: translate(22%, -87%);
      width: 700px;
      height: 700px;
    }
  }

  .page-header__welcome {
    margin-bottom: 42px;
    font-size: 42px;
    line-height: 48px;
  }
}
