.projects {
  background-color: $background-color;
  padding: 40px 5%;

  overflow: hidden;
}

.projects__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (min-width: $desktop-width) {
  .projects {
    padding: 80px 25px;
  }
}
