.projects {
  background-color: $background-color;
  padding: 40px 5%;
}

.projects__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


