.section-header {
  margin: 0;
  margin-bottom: 15px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.section-header__underline {
  height: 4px;
  width: 100px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  background: $text-color;
}

.section-header--footer {
  color: $white-color;
}

.section-header__underline--footer {
  background: $white-color;
}