.skills {
  background-color: $background-color;
  padding: 40px 5%;
}

.skills__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
}

.skills__item {
  width: 140px;
  height: auto;
  
  text-align: center;

  transform-style: preserve-3d;
}

.skills__item img {  
  width: 120px;
  height: 120px;
  object-fit: contain;

  transform: rotateY(0.25turn);
  opacity: 0;
}

.--animate .skills__item {
  @for $index from 1 through 9 {
    $delay: $index * 0.2 - 0.2;
    &:nth-child(#{$index}) {
      & img {
      transition: 0.3s ease #{$delay + s};
      transform: rotate(0turn);
      opacity: 1;    
      }
    }
  }
}

.skills__item h3 {
  padding: 10px 0 30px 0;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;

  opacity: 0;
}

.--animate .skills__item {
  @for $index from 1 through 9 {
    $delay: $index * 0.2 + 0.1;
    &:nth-child(#{$index}) {
      & h3 {
      transition: 0.3s ease #{$delay + s};
      opacity: 1;
      }
    }
  }
}

/* for desktop */

@media (min-width: $desktop-width) {
  .skills {
    padding: 80px 25px;

  }
  .skills__list {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}