.ukraine_support_mark {
  position: absolute;

  bottom: 50px;
  left: 0;

  width: 145px;
  height: 75px;

  background-image: url(sources/img/standwithukraine.jpeg);
  background-position: center;
  background-size: cover;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  
  z-index: 100;

  transform: translateX(-120%);
  transition: 1.0s ease-in-out;
}

.ukraine_support_mark.--animate {
  transform: translateX(0);
}

/* For tablets */

@media (min-width: $tablet-width) {
  .ukraine_support_mark {
    width: 220px;
    height: 120px;
  }
}

/* For desktops */

@media (min-width: $desktop-width) {
  .ukraine_support_mark {
    top: 50px;
    left: 0;
    
    width: 220px;
    height: 80px;
  }
}