/*BACKGROUND GRADIENT*/

@keyframes animateGradient {
  0% {background-position: 0% 0%;}
  50% {background-position: 100% 100%;}
  100% {background-position: 0% 0%;}
}

.page-header__background {
  animation-name: animateGradient;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

/*NAV DOWN*/

@keyframes navDown {
  0% {transform: translateY(-100px);}
}

.main-nav--down {
  animation-name: navDown;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

/* LEFT APPEARANCE */

@keyframes appearance-left {
  from {transform: translateX(-50vw); opacity: 0;}
  to {transform: translateX(0%); opacity: 1;}
}

.left-appearance {
  animation-name: appearance-left;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* RIGHT APPEARANCE */

@keyframes appearance-right {
  from {transform: translateX(50vw); opacity: 0;}
  to {transform: translateX(0%); opacity: 1;}
}


.right-appearance {
  animation-name: appearance-right;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* BOTTOM APPEARANCE */

@keyframes appearance-bottom {
  from {transform: translateY(50vh); opacity: 0;}
  to {transform: translateX(0%); opacity: 1;}
}


.bottom-appearance {
  animation-name: appearance-bottom;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

