// COLORS //

$base-color: #2a3247;
$base-darker-color: #141d31;
$base-ligter-color: #5c4b8a;
$second-color: #ff445e;
$third-color: #fda022;
$white-color: #ffffff;
$text-color: #474747;
$background-color: #f5f5f5;

// DISPLAY WIDTH //

$tablet-width: 768px;
$desktop-width: 1200px;
